@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
}

.navigtaion-link-search {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
}

.navigation-link-favorite {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
}


.page-about {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.welcome-part {
  background-image: url(/images/main/index-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 485px;
  box-sizing: border-box;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.welcome-part::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 57V0L250 24V0L600 57L950 0V24L1200 0V57H0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 0;
  left: 0;
  height: 57px;
  width: 100%;
}

.index-background {
  display: block;
  margin: 0 auto 146px auto;
}

.welcome-part-text {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.welcome-part-subtext {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-city {
  text-align: left;
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-item-house {
  text-align: left;
  color: #000000;
  background: rgba(131, 179, 211, 0.12)
}

.advantages-item-food {
  text-align: left;
  color: #000000;
  background: #FFFFFF;
}

.advantages-item-souvenirs {
  text-align: left;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-bridge {
  text-align: left;
  color: #fff;
  background: #82B3D3;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.catalog-products {
  background-color: #82B3D3;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  background: #82B3D3;
}

.breadcrumbs-item {
  background: #82B3D3;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.icon-table {
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-image: url(/images/catalog/icon-table.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-slideshow {
  background-image: url(/images/catalog/icon-slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon-list {
  text-align: center;
  background-image: url(/images/catalog/icon-list.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.found-items {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.product-card-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-price {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.button {
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.want-here {
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
}

.submit {
  background: #82B3D3;
  border-radius: 4px;
}

.product-card-button {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.product-card-button-green {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 4px;
}

.product-card-button-favorite {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link-pagination-current {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
}

.pagination-item {
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
}

.services-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background: #FFFFFF;
}

.newsletter {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 411px;
  width: 1200px;
  background: url(/images/main/newsletter-background.jpg);
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
