@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


.html {
  height: 100%;
}

.body {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
  margin: 0 auto;
}

.page-header {
  min-height: 65px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}


.navigation {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 390px;
  justify-content: space-between;
  align-items: center;
  text-decoration: inherit;
  position: relative;
}

.navigation-user {
  margin-left: auto;
  min-width: 263px;
  justify-content: flex-start;
}

.navigation-logo {
  margin-left: 70px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
}

.navigation-link-search {
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 43px;
  min-height: 66px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
}

.navigation-link-search-icon {
  background-image: url(/images/header/search.svg);
  position: absolute;
}

.navigation-link-favorite {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  background: #ffffff;
  position: relative;
  min-width: 43px;
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.navigtaion-link-favorite-icon {
  background-repeat: no-repeat;
  background-image: url(/images/header/favorite.svg);
  position: relative;
  width: 20px;
  height: 20px;
}

.navigtaion-link-favorite::before {
  content: "12";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  background-color: #7DB54F;
  top: 15px;
  right: 2px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.page-about {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.welcome-part {
  background-image: url(/images/main/index-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 485px;
  box-sizing: border-box;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.welcome-part::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 57V0L250 24V0L600 57L950 0V24L1200 0V57H0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 0;
  left: 0;
  height: 57px;
  width: 100%;
}

.index-background {
  display: block;
  margin: 0 auto 146px auto;
}

.welcome-part-text {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.welcome-part-subtext {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.container-header {
  margin: 0 auto;
  width: 1200px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-image img {
  width: 800px;
  height: 384px;
}

.blue {
  width: 400px;
  padding-top: 48px;
  text-align: center;
  background: #82B3D3;
  color: white;
}


.blue,
h3 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}


h4 {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}


.blue,
p {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.feature-item {
  width: 400px;
  text-align: center;
}

.feature-item h4 {
  position: relative;
  margin-top: 160px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.feature-item p {
  width: 288px;
  margin: 0 auto;
  margin-bottom: 82px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.feature-item.house h4::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 162px;
  height: 72px;
  width: 75px;
  display: block;
  background-repeat: no-repeat;
}

.feature-item.food h4::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 162px;
  height: 72px;
  width: 75px;
  display: block;
  background-repeat: no-repeat;
}

.feature-item.gift h4::before {
  content: "";
  position: absolute;
  top: -104px;
  left: 167px;
  height: 76px;
  width: 64px;
  display: block;
  background-repeat: no-repeat;
}

.advantages-image img {
  height: auto;
  width: 100%;
  display: block;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #eeeeee;
  list-style-type: none;
}

.more-advantages {
  font-family: "PT Sans", sans-serif;
  width: 400px;
  height: 384px;
  text-align: center;
  padding-bottom: 38px;
}

.more-advantages h3 {
  width: 134px;
  margin: 0 auto;
  margin-bottom: 22px;
  margin-top: 48px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

.more-advantages p {
  width: 264px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #333333;
}

.container-page-option {
  display: flex;
  flex-direction: row;
}


.feature-item {
  width: 400px;
  height: 384px;
}


.feature-item.house {
  color: #000000;
  background: rgba(131, 179, 211, 0.12)
}

.feature-item.food {
  color: #000000;
  background: #FFFFFF;
}

.feature-item.gift {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages.blue {
  color: #fff;
  background: #82B3D3;
}


.more-advantages.place {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.more-advantages.road {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.more-advantages.adventures {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  align-self: stretch;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  align-self: stretch;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.product-card-link {
  text-decoration: none;
}

.catalog-products {
  background-color: #82B3D3;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  background: #82B3D3;
}

.breadcrumbs-item {
  background: #82B3D3;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.icon-table {
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-image: url(/images/catalog/icon-table.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-slideshow {
  background-image: url(/images/catalog/icon-slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon-list {
  text-align: center;
  background-image: url(/images/catalog/icon-list.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 10px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.found-items {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.product-card-title {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-price {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.button {
  border-radius: 4px;
  background-color: #756157;
  border: none;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.want-here {
  width: 160px;
  height: 37px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background: #756157;
}

.button-search {
  height: 60px;
  width: 574px;
  border-radius: 4px;
}

.submit {
  background: #82B3D3;
  border-radius: 4px;
}

.product-card-button {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.product-card-button-green {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 4px;
}

.product-card-button-favorite {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link-pagination-current {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
}

.pagination-item {
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #FFFFFF;
}

.services-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background: #FFFFFF;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.footer-container {
  width: 1200px;
  justify-content: center;
}

.container-website {
  display: flex;
  justify-content: end;
}

.container-tel {
  display: flex;
  justify-content: center;
}

.newsletter {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 411px;
  width: 1200px;
  background: url(/images/main/newsletter-background.jpg);
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
