@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
}

.button {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  color: #ffffff;
  background-color: #756157;
  border: none;
}

.page-header {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  background-color: #ffffff;
  min-height: 65px;
}

.navigation{
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.navigation-list {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 list-style-type: none;
 width: 390px;
 justify-content: space-between;
 align-items: center;
 text-decoration: inherit;
 position: relative;
}

.navigation-user {
  margin-left: auto;
  min-width: 263px;
  justify-content: flex-start;
}

.navigation-logo {
  margin-left: 70px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
}

.navigtaion-link-search {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 43px;
  min-height: 66px;
}

.navigtaion-link-search-icon {
  background-image: url(/images/header/search.svg);
  position: absolute;
}

.navigtaion-link-favorite {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background: #ffffff;
  position: relative;
  min-width: 43px;
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigtaion-link-favorite::before{
  content: "12";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  background-color: #7DB54F;
  top: 15px;
  right: 2px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.navigtaion-link-favorite-icon{
  position: relative;
  width: 20px;
  height: 20px;
}

.navigation-link-want  {
  border-radius: 4px;
  min-width: 160px;
  min-height: 37px;
  margin-left: 20px;
}

.page-about {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.welcome-part {
  background-image: url(/images/main/index-background.jpg);
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 485px;
  box-sizing: border-box;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.welcome-part-wrapper {
  background-color: #fff;
  text-align: center;
  min-height: 282px;
  padding-top: 63px;

}

.welcome-part-wrapper::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 57V0L250 24V0L600 57L950 0V24L1200 0V57H0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 0;
  left: 0;
  height: 57px;
  width: 100%;
}

.welcome-part-slogon {
  display: block;
  margin: 0 auto 146px auto;
}

.welcome-part-text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
}

.welcome-part-subtext {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 33%;
}

.advantages-item-city {
  text-align: left;
  color: #ffffff;
  background: #82B3D3;
}

.advantages-item-house {
  text-align: left;
  color: #000000;
  background: rgba(131, 179, 211, 0.12)
}

.advantages-item-food {
  text-align: left;
  color: #000000;
  background: #ffffff;
}

.advantages-item-souvenirs {
  text-align: left;
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-bridge {
  text-align: left;
  color: #ffffff;
  background: #82B3D3;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.catalog-products {
  background-color: #82B3D3;
}

.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  background: #82B3D3;
}

.breadcrumbs-item {
  background: #82B3D3;
}

.breadcrumbs-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-filter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-filter-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.found-items {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.product-card-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-card-price {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.button-product-card-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  color: #ffffff;
  background-color: #756157;
  border: none;
  min-height: 37px;
}

.button-product-card-button-product-card-button-green {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #7DB54F;
  border-radius: 4px;
}

.button-product-card-button-favorite {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link-pagination-current {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
}

.pagination-item {
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.tel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
}

.services-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background: #ffffff;
}

.newsletter {
  color: #ffffff;
  text-align: center;
  height: 411px;
  width: 1200px;
  background-image: url(/images/main/newsletter-background.png);
  background-color: #ffffff;
  background-position: ce;
}

.newsletter-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.newsletter-description {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}
